/*table style*/
#form_table{
    width:600px;
    margin-left: auto;
    margin-right: auto;
}

/*end table style*/

/*table element*/
#id_term{
    border: 2px solid#17a2b8;  /* 枠線 */
    font-size: .9rem;

    height: 32px;
    width: 140px;    
}

#id_name{
    border: 2px solid #17a2b8;  /* 枠線 */
    border-radius: 0.3em;   /* 角丸 */
    font-size: .9rem;

    height: 32px;
    width: 180px;    

}

#id_num{
    border: 2px solid #17a2b8;  /* 枠線 */
    border-radius: 0.3em;   /* 角丸 */
    font-size: .9rem;

    height: 32px;
    width: 180px;             /* 横幅 */

}

#id_memo{
    border: 2px solid #17a2b8;  /* 枠線 */
    border-radius: 0.3em; 
    line-height: 1.3;
    width: 580px;

}
/*end table element*/

/*calender*/
.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
  background-color: #17a2b8;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.bootstrap-datetimepicker-widget table td span.active,
.bootstrap-datetimepicker-widget table td i.active {
  background-color: #17a2b8;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.input-group{
    width: 180px; 
    max-width:180px; 

}
.input-group-text{
    border: 2px solid #17a2b8;  /* 枠線 */
    background-color: #17a2b8;

    padding: .2rem .75rem;
    font-size: .9rem;
    width: 40px; 
    }

.glyphicon-calendar{
    color: white;

}
/*end calender*/



/*botton*/
.form_confirm{
    width:100px;
}
/*end botton*/