{% extends './base.html' %}
{% block app %}
<h4 class="mt-4 border-bottom">賞味期限が近いもの一覧</h4>
<br>

<table class="table table-striped table table-bordered ">
        <thead align="center">
            <tr>
                <th>名前</th>
                <th>個数</th>
                <th>賞味期限</th>
            </tr>
        </thead>
        <tbody align="center">
        <!-- count件(行)数分をループ -->
        {% for  obj in data %}
            {% if obj.is_today %}
                <tr>
                <!-- 4列分ユーザ情報を出力 -->
                    <td>{{obj.name}}</td>
                    <td>{{obj.num}}</td>
                    <td>{{obj.term}}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}



