<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <!-- Bootstrap読込み -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/bootstrap_datepicker_plus/css/datepicker-widget.css" type="text/css" media="all" rel="stylesheet">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="{% static 'css/table.css' %}">
        <link rel="stylesheet" href="{% static 'css/nav.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

        <!-- ナビゲーションバー -->
        <nav class="navbar navbar-light bg-info fixed-top">
                <span class="navbar-brand mb-0 h1">在庫管理アプリ</span>
                <a class="nav-item nav-link text-light" href='{% url "index_view" %}'>TOP</a>
                <a class="nav-item nav-link text-light" href='{% url "all_data_view" %}'>All Stock</a>
                <a class="nav-item nav-link text-light" href='{% url "create_data" %}'>Register</a>
                <form  class="form-inline" action='{% url "match_data" %}' method="get">
                        <input class="form-control mr-2" name="query" value="{{ request.GET.query }}" type="text">
                        <button class="btn btn-outline-light" type="submit">Search</button>
                </form>
        </nav>

    </head>
 
    <!-- ボディー -->
    <body>
        
        <div class='container'>
            {% block app %}
            {% endblock %}
            {% block js %}
            {% endblock %}
        </div>
    </body>
</html>