    <div class="modal fade" id="dialogModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>※ATTENTION※</h4>
                </div>
                <div class="modal-body">
                    <label><span id="del_name"></span>を削除しますか？</label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">CLOSE</button>
                    <a href="#" class="btn btn-outline-danger" id="del_url">DELETE</a>
            </div>
            </div>
        </div>
    </div>

    
